@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/nytlogo.jpg" class="col-md-offset-4 img-responsive" />
    <div>
        <h3>Welcome to</h3>
        <h5>The New York Times | World</h5>
    </div>
</div>
