@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/logo.jpg" class="col-md-2 col-md-offset-2 img-responsive img-circle" />
    <div>
        <h3>Welcome to</h3>
        <h5>The New York Times | World</h5>
    </div>
</div>
